<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>
</div><br/>
{% section 'red-wine-link-block' %}
{% section 'red-wine-featured-collections' %}
{% section 'red-wine-featured-product' %}
{% section 'red-wine-featured-products' %}
{% section 'red-wine-brand-list' %}
{% section 'red-wine-featured-content' %}
{% section 'red-wine-columns' %}
{% section 'red-wine-featured-articles' %}
{% section 'red-wine-image-content' %}
